.mt {
    margin-top: 64px;
    color: brown;
    font-weight: bold;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.lc {
    background-image: url('pubg4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: darken;
    color: brown;
    font-weight: bold;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    height: 100vh;
}

.nmt {
    margin-top: 64px;
}

.nlc {
    background-image: url('smoke.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    height: 100vh;
    background-attachment: fixed;
    overflow:auto; 
}

.menu {
    background-color: rgba(0, 0, 0, 0.87);
}

.menu2 {
    background-color: rgba(182, 26, 26, 0);
    font-weight: bold;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}