.owRank {
    float: left;
    width: 33%;
}

.PUBGRank {
    float: right;
    width: 33%;    
}

.PossibleFriends {
    width: 33%;
}

.home {
    width: 100%;
    color: brown;
}

.column {
    float: left;
    width: 33%;
    color: brown;
}

.wordColor {
    color: brown;
}