.pf {
    width: 100%;
    color:brown;
}

.pf-button {
    float: right;
    margin-top: 10px;
    font-weight: bold;
}

.margins {
    margin-left: 10px;
    margin-right: 10px;
    color: brown;
}

.lgrey {
    color: brown;
}

